@page	
	<h4>Use Arrow keys to move the cat.</h4>        
	<img id="catImage" src="https://img.icons8.com/emoji/48/000000/cat-with-wry-smile.png" alt="suppose to be a cat image"/>        
	<script src="~/js/signalr/dist/browser/signalr.js"></script>    
	<script type="text/javascript" src="~/js/controller.js"></script>	